.message {
  display: flex;
  align-items: center;
  background-color: transparent !important;
}

.is-primary {
  flex-direction: row-reverse !important;
}

.received p {
  color: rgb(70, 70, 70) !important;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 2px 5px;
}

.message-form {
  margin: auto;
}

.send-icon {
  width: 80px !important;
}

.messages-window {
  white-space: pre-line;
  padding: 20px;
  max-height: 50vh;
  overflow: scroll;
}

.title,
.subtitle {
  margin-top: 0 !important;
  padding: 0 !important;
}

.message-contents {
  min-width: 400px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  color: #fff !important;
}

.bubble-left,
.bubble-right {
  line-height: 100%;
  position: relative;
  border-radius: 10px;
  clear: both;
}

.bubble-left {
  float: left;
  margin-right: 10%;
  background-color: #00d1b2 !important;
}
.bubble-right {
  float: right;
  margin-left: 10%;
  background-color: #1f2330 !important;
}

.send-message-form {
  height: 80px;
  margin-bottom: 5px;
}

.send-message-input {
  border-bottom-left-radius: 5px !important;
  border-top-left-radius: 5px !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  height: 60px;
}

.send-message-button {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 5px !important;
  border-top-right-radius: 5px !important;
  height: 60px;
}
