.message {
  display: flex;
  align-items: center;
}

.is-primary {
  flex-direction: row-reverse !important;
}

.is-primary p {
  color: rgb(70, 70, 70) !important;
  align-self: flex-end !important;
}
.received p {
  color: rgb(70, 70, 70) !important;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 2px 5px;
}

form {
  bottom: 0;
  width: 100%;
  max-width: 90vw;
  display: flex;
}

form button {
  width: 20%;
  height: 128px !important;
}
