.logo {
  max-width: 50px;
  max-height: 50px;
  margin: 20px;
}

.is-danger-button > span {
  margin-right: 10px;
}

.header-buttons {
  margin-right: 10px;
}

.navbar-item > a {
  color: #4a4a4a !important;
}
