@media (max-width: 500px) {
  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}

.titled {
  font-size: 58px !important;
  font-weight: 400 !important;
  line-height: 64px !important;
}

.subtitled {
  font-size: 22px !important;
  font-weight: 400 !important;
  line-height: 36px !important;
}

.dashboard-grouped-buttons {
  margin-top: 20px;
  justify-content: center !important;
}
