footer {
  background-color: #01d1b2 !important;
  color: #fff !important;
  font-size: 20px;
}

.footer-a {
  color: #fff !important;
  font-weight: 600;
}

.footer-a:hover {
  color: #1f2330 !important;
}
